<div class="map"
  [ngStyle]="{'background-image': getMapBg()}">
  <div *ngIf='!currentDungeon'>
    <app-node *ngFor='let lwNode of gameService.overworldData[currentMap === "light-world" ? "lwLocations" : "dwLocations"]'
      nodeType='overworld'
      [nodeInfo]='lwNode.mapNode'
      (click)='onNodeClick(lwNode.mapNode)'
      (mouseover)='changeTooltip(lwNode.mapNode)'
      (mouseleave)='clearTooltip()'
    >
    </app-node> 
    <div *ngFor='let dun of gameService.dungeonsData'>
      <app-node *ngIf='(gameService.lwDuns.indexOf(dun.name) > -1 && currentMap === "light-world") || (gameService.lwDuns.indexOf(dun.name) === -1 && currentMap === "dark-world")'
          nodeType='dungeon'
          [nodeInfo]='dun.mapNode'        
          [dungeonItems]='items.getDungeonItems(dun.name)'
          (click)='onDungeonClick(dun.mapNode)'
          (mouseover)='changeTooltip(dun.mapNode)'
          (mouseleave)='clearTooltip()'>
        </app-node>
    </div>
    
  </div>
  <div *ngIf='currentDungeon'>
    <app-node *ngFor='let dunNode of currentDungeonMap.nodes'
        nodeType='inside-dungeon'
        [nodeInfo]='dunNode.mapNode'
        [items]='items'
        [config]='config'
        [dungeonItems]='currentDungeonItems'
        (click)='onDungeonNodeClick(dunNode.mapNode)'
        (mouseover)='changeTooltip(dunNode.mapNode)'
        (mouseleave)='clearTooltip()'>
    </app-node>    
  </div>

  <div *ngIf='currentDungeonItems'>
    <app-dungeon-items
      [dungeonItems]='currentDungeonItems'
    >
    </app-dungeon-items>
  </div>
</div>
<div class='map-footer'>
  {{tooltip}}
</div>
<div class='menu-buttons'>
    <button class='btn btn-danger' (click)='onSaveAndQuit()'>
        Save & Quit
      </button>
  <button class='btn btn-primary' (click)='onWarpClicked()' *ngIf='canWarp()'>
    {{warpButtonText}}
  </button>
  <button class='btn btn-info' (click)='onCheckMap("lw")' *ngIf='!items.lwMapOpen && canViewLightWorldMap()'>
    Check LW Map
  </button>
  <button class='btn btn-info' (click)='onCheckMap("dw")' *ngIf='!items.dwMapOpen && canViewDarkWorldMap()'>
    Check DW Map
  </button>
  <button class='btn btn-warning' (click)='checkMedallion("mm")' *ngIf='!items.mmMedallionChecked && canViewMMMedallion() && !currentDungeon'>
    Check MM Medallion
  </button>
  <button class='btn btn-warning' (click)='checkMedallion("tr")' *ngIf='!items.trMedallionChecked && canViewTRMedallion() && !currentDungeon'>
    Check TR Medallion
  </button>  
</div>

<button *ngIf='isDev' (click)='getAll()'>get All</button>
<button *ngIf='isDev' (click)='getBootsDw()'>get Boots + DW</button>