<div class="map"
  [ngStyle]="{'background-image': currentBackgroundImage}">
  <div *ngIf='!currentDungeon'>
    <app-node *ngFor='let lwNode of gameService.getAccessibleNodes(items, currentMap)'
        nodeType='overworld'
        [nodeInfo]='lwNode'
        (click)='onNodeClick(lwNode)'
        (mouseleave)='onMouseLeave(lwNode)'>
    </app-node>
    <app-node *ngFor='let dun of gameService.getAccessibleDungeons(items, currentMap)'
        nodeType='dungeon'
        [nodeInfo]='dun'        
        [dungeonItems]='items.getDungeonItems(dun.tooltip)'
        (click)='onDungeonClick(dun)'
        (mouseleave)='onMouseLeave(dun)'>
    </app-node>
  </div>
  <div *ngIf='currentDungeon'>
    <app-node *ngFor='let dunNode of loadMap()'
        nodeType='inside-dungeon'
        [nodeInfo]='dunNode'
        (click)='onDungeonNodeClick(dunNode)'
        (mouseleave)='onMouseLeave(dunNode)'>
    </app-node>    
  </div>

  <div *ngIf='currentDungeonItems'>
    <app-dungeon-items
      [dungeonItems]='currentDungeonItems'
    >
    </app-dungeon-items>
  </div>
</div>

<div class='menu-buttons'>
  <button (click)='onWarpClicked()' *ngIf='canWarp()'>
    Warp
  </button>
  <button (click)='onCheckMap("lw")' *ngIf='!items.lwMapOpen'>
    Check LW Map
  </button>
  <button (click)='onCheckMap("dw")' *ngIf='!items.dwMapOpen && canViewDarkWorldMap()'>
    Check DW Map
  </button>
  <button (click)='checkMedallion("tr")' *ngIf='!items.trMedallionChecked && canViewTRMedallion()'>
    Check TR Medallion
  </button>
  <button (click)='checkMedallion("mm")' *ngIf='!items.mmMedallionChecked && canViewMMMedallion()'>
    Check MM Medallion
  </button>
</div>


{{tooltip}}