<h3>About this Website</h3>
<p>
  This tool is a personal project I've been working on to facilitate routing practice.
  Based on the Z3 Randomizer I developed this tool to simulate a playthrough of that very closely, while still making it fast and quick,
  so I could play a seed in 10 minutes instead of 2 hours.
</p>
<p>I have always been super interested in the routing aspect of randomizer. I had approached it through a stats 
  perspective before (checking the spreadsheets of published data, making my own stats from batches of spoiler 
  logs, etc), but I always thought that practicing through playing was horribly inefficient. It's hard to play 
  multiple seeds in a small time-frame and it's hard to pay attention to what's going on while you're playing 
  at the same time, it's too easy to take things that may be mistakes for granted.
</p>
<p>
    Since the randomizer started publishing huge batches of spoiler logs, and having already developed a simulator 
    for another game, the thought of simulating rando came kinda naturally.
</p>
<p>
  Z3RSim is mobile friendly so you can play during your commute to work or for a quick seed before sleeping. 
  Hopefully you guys have as much fun with Rando as I have. <i class="fa fa-heart" aria-hidden="true"></i>
</p>
<p>
  The design was heavily inspired by the <a href="https://www.twitch.tv/crossproduct">Crossproduct</a>'s Randomizer Tracker. The game logic is based on the VT v30 version of the Randomizer.
</p>
<p>
  If you have any suggestions, questions, bug reports or just want to say hi, 
  feel free to join the <a href="https://discord.gg/nPJpFQB" target="_blank">Z3RSim Discord</a> 
  or catch me streaming at my <a href="https://www.twitch.tv/kyong92" target="_blank">Twitch page</a>.
</p>
