.panel {
  margin-bottom: 5px;
}

.panel-heading {
  padding-top: 4px;
  padding-bottom: 4px;
}

:host-context(.dark-theme) .panel-heading {
  color: var(--dark-text-color);
  background-color: #555;
  border-color: #888;
}

:host-context(.dark-theme) .panel-default {
  border-color: #888;
}

.panel-body {
  padding: 8px;
}

:host-context(.dark-theme) .panel-body {
  color: var(--dark-text-light-color);
  background-color: #222;
}

.icon {
  width: 32px;
  height: 32px;
  background-color: lightgray;
  border-radius: 5px;
}

.line-icon-container {
  position: relative;
}

.subText {
  position: absolute;
  bottom: -12px;
  right: 7px;
  font-size: 14px;
  text-align: right;
  color: black;
}