hr {
  margin-top: 8px;
  margin-bottom: 8px;
  height: 6px;
  border: 0;
  box-shadow: inset 0 3px 3px -3px rgba(0, 0, 0, 0.5);
}

.item-log-body {
  height: 400px;
  padding: 10px;
  overflow-y: scroll;
}

:host-context(.dark-theme) .item-log-body {
  background-color: #141414;
}

.panel-heading {
  display: flex;
  flex-wrap: nowrap;
}

:host-context(.dark-theme) .panel-heading {
  background-color: midnightblue;  
}

:host-context(.dark-theme) .panel-heading, :host-context(.dark-theme) .panel-info {
  border-color: mediumslateblue;
}

.form-control {
  display: initial;
  width: 100%;
}

:host-context(.dark-theme) .form-control {
  color: var(--dark-text-color);
  background-color: var(--dark-background-color);
}

.btn-default.active {
  background-color: rgb(54, 54, 54);
  color: white;
}
.btn-default.active:focus {
  background-color: rgb(105, 105, 105);
}
.btn-default.active:hover {
  background-color: rgb(94, 94, 94);
}

@media (min-width: 768px) {
  .item-log-body {
    height: 400px;
  }
}

@media (min-width: 992px) {
  .item-log-body {
    height: 400px;
  }
}

@media (min-width: 1200px) {
  .item-log-body {
    height: 554px;
  }
}