hr {
  margin-top: 8px;
  margin-bottom: 8px;
  height: 6px;
  border: 0;
  box-shadow: inset 0 3px 3px -3px rgba(0, 0, 0, 0.5);
}

.item-log-body {
  height: 800px;
  padding: 10px;
  overflow-y: scroll;
}

@media (min-width: 768px) {
  .item-log-body {
    height: 500px;
  }
}

@media (min-width: 992px) {
  .item-log-body {
    height: 400px;
  }
}

@media (min-width: 1200px) {
  .item-log-body {
    height: 465px;
  }
}