hr {
  margin-top: 8px;
  margin-bottom: 8px;
  height: 6px;
  border: 0;
  box-shadow: inset 0 3px 3px -3px rgba(0, 0, 0, 0.5);
}

.item-log-body {
  max-height: 500px;
  padding: 10px;
  overflow-y: scroll;
}

.panel-heading {
  display: flex;
  flex-wrap: nowrap;
}

.form-control {
  display: initial;
  width: 100%;
}

.btn-default.active {
  background-color: rgb(54, 54, 54);
  color: white;
}
.btn-default.active:focus {
  background-color: rgb(105, 105, 105);
}
.btn-default.active:hover {
  background-color: rgb(94, 94, 94);
}

@media (min-width: 768px) {
  .item-log-body {
    max-height: 500px;
  }
}

@media (min-width: 992px) {
  .item-log-body {
    height: 400px;
  }
}

@media (min-width: 1200px) {
  .item-log-body {
    height: 498px;
  }
}