.node {
  position: absolute;
  cursor: pointer;
  z-index: 2;
}

.chest-count {
  width: 100%;
  text-align: right;
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  bottom: -7px;
  right: -5px;
  color: white;
  white-space: nowrap;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.warp {
  background-image: url(/assets/node-icons/warp.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.invisible {
  display: none;
}

.unavailable, .dungeon-unavailable, .unavailable-state {
  background-color: lightcoral;
}
.dungeon, .dungeon-state {
  background-color: blue;
}
.open, .open-state {
  background-color: lightgreen;
}
.glitched-open, .glitched-state {
  background-color: deepskyblue;
}
.dun-defeated, .dun-open-state, .dungeon-defeated {
  background-color: lightblue;
}
.view, .view-state {
  background-color: gold;
}
.cleared, .opened, .opened-state, .dungeon-cleared, .unavailable-open-state, .dungeon-unavailable-cleared {
  background-color: grey;
}

.unavailable, .cleared, .opened, .opened-state, .dungeon-cleared, .unavailable-open-state, .dungeon-unavailable-cleared, .unavailable-state {
  cursor: default;
}
.unavailable-open-state, .dungeon-unavailable-cleared, .unavailable, .unavailable-state {
  opacity: 0.5;
}

.overworld-type {
  width: 5%;
  height: 5%;
  margin: -2.5% -2.5%;
  border: solid black;
  background-size: cover;
}
.dungeon-type {
  width: 9%;
  height: 9%;
  margin: -4.5% -4.5%;
  background-size: 100%;
  background-repeat: no-repeat;
  border: solid black;
}
.in-dungeon-type {
  width: 6%;
  height: 6%;
  margin: -3% -3%;
  
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;  
  border: solid black;
}

.icon-shown {
  background-origin: content-box;
  padding: 2px;
}

.open-door, .sk-door, .bk-door {
  width: 9%;
  height: 6%;
  margin: -3% -4.5%;
}

.open-door {
  background-image: url('/assets/node-icons/open_door.png');
}
.sk-door {
  background-image: url('/assets/node-icons/key_door.png');
}
.bk-door {
  background-image: url('/assets/node-icons/big_door.png');  
}

.closed-chest, .open-chest {
  width: 6%;
  height: 6%;
  margin: -3% -3%;
}

.closed-chest {
  background-image: url('/assets/node-icons/closed_chest.png');   
}
.open-chest {
  background-image: url('/assets/node-icons/open_chest.png');
}

.big-chest, .open-big-chest {
  width: 7.5%;
  height: 6%;
  margin: -3% -3.75%;
}

.big-chest {
  background-image: url('/assets/node-icons/closed_big_chest.png');  
  
}
.open-big-chest {
  background-image: url('/assets/node-icons/open_big_chest.png');  
}

.spare-key {
  background-image: url('/assets/node-icons/small_key.png');  
}
.blind {
  background-image: url('/assets/node-icons/blind.png');  
}
.switch-blue {
  background-image: url('/assets/node-icons/switch_blue.png');  
}
.switch-red {
  background-image: url('/assets/node-icons/switch_red.png');  
}
.water-switch-off {
  background-image: url('/assets/node-icons/water_switch_off.png');  
}
.water-switch-on {
  background-image: url('/assets/node-icons/water_switch_on.png');  
}
.tt-floor {
  background-image: url('/assets/node-icons/tt_floor_closed.png');  
}
.tt-floor-open {
  background-image: url('/assets/node-icons/tt_floor_open.png');  
}
.push-block {
  background-image: url('/assets/node-icons/push-block.png');    
}
.empty {
  background-image: url('/assets/node-icons/empty.png');    
}
.portal {
  background-image: url('/assets/node-icons/warp.png');      
}
.mirror {
  border-radius: 50%;
  background-color: lightgreen;
  background-image: url('/assets/item-icons/mirror.png');      
}
.frog {
  background-image: url('/assets/node-icons/frog.png');      
}
.purple-chest {
  background-image: url('/assets/node-icons/purple-chest.png');      
}
.big-bomb {
  background-image: url('/assets/node-icons/big-bomb.png');      
}
.tablet {
  background-image: url('/assets/node-icons/tablet.png');      
}
.pedestal {
  background-image: url('/assets/node-icons/pedestal.png');      
}
.duck {
  background-image: url('/assets/node-icons/duck.png');      
}
.hole {
  background-image: url('/assets/node-icons/hole.png');      
}
.water-warp {
  background-image: url('/assets/node-icons/water-warp.png');      
}
.sq-item {
  width: 60%;
  margin-left: -30%;
  background-size: cover;
  background-color: black;
}
.lw-linkshouse {
  background-image: url('/assets/node-icons/links_house.png');  
}
.hc-sanctuary {
  background-image: url('/assets/node-icons/sanctuary.png');  
}
.lw-flute1 {
  background-image: url('/assets/node-icons/mountain_cave.png');  
}
.invisible {
  opacity: 0;
}

.faded {
  /* color: #888; */
  display: none;
}

@media (max-width: 992px) {
  .chest-count { 
    font-size: 10px;
    right: -4px;
    bottom: -5px;
  }
}

@media (max-width: 768px) {
  .overworld-type, .dungeon-type, .in-dungeon-type {
    border: 1.5px solid black;
  }
  .chest-count { 
    font-size: 8px;
    right: -4px;
    bottom: -5px;
  }
}

