.node {
  position: absolute;
  z-index: 2;
}

.open-state {
  background-color: lightgreen;
}
.unavailable-state {
  background-color: lightcoral;
  opacity: 0.5;
}
.view-state {
  background-color: yellow;
}
.opened-state {
  background-color: grey;
}
.dungeon-state {
  background-color: blue;
}
.dungeon-defeated {
  background-color: lightblue;
}
.dungeon-cleared {
  background-color: grey;
}
.dungeon-unavailable {
  background-color: lightcoral;
  opacity: 0.5;
}

.overworld-type {
  width: 5%;
  height: 5%;
  margin: -2.5% -2.5%;
  border: solid black;
}
.dungeon-type {
  width: 9%;
  height: 9%;
  margin: -4.5% -4.5%;
  background-size: 100%;
  background-repeat: no-repeat;
  border: solid black;
}
.in-dungeon-type {
  width: 9%;
  height: 9%;
  margin: -4.5% -4.5%;
  
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border: solid black;
  background-color: lightblue;
}

.open-door, .sk-door, .bk-door {
  width: 11%;
  height: 8%;
  margin: -5.5% -4%;
}

.open-door {
  background-image: url('/assets/node-icons/open_door.png');
}
.sk-door {
  background-image: url('/assets/node-icons/key_door.png');
}
.bk-door {
  background-image: url('/assets/node-icons/big_door.png');  
}

.closed-chest, .open-chest {
  width: 8%;
  height: 8%;
  margin: -4% -4%;
}

.closed-chest {
  background-image: url('/assets/node-icons/closed_chest.png');   
}
.open-chest {
  background-image: url('/assets/node-icons/open_chest.png');
}

.big-chest, .open-big-chest {
  width: 10%;
  height: 8%;
  margin: -5% -4%;
}

.big-chest {
  background-image: url('/assets/node-icons/closed_big_chest.png');  
  
}
.open-big-chest {
  background-image: url('/assets/node-icons/open_big_chest.png');  
}

.spare-key {
  background-image: url('/assets/node-icons/small_key.png');  
}
.blind {
  background-image: url('/assets/node-icons/blind.png');  
}
.switch-blue {
  background-image: url('/assets/node-icons/switch_blue.png');  
}
.switch-red {
  background-image: url('/assets/node-icons/switch_red.png');  
}
.water-switch-off {
  background-image: url('/assets/node-icons/water_switch_off.png');  
}
.water-switch-on {
  background-image: url('/assets/node-icons/water_switch_on.png');  
}
.tt-floor {
  background-image: url('/assets/node-icons/tt_floor_closed.png');  
}
.tt-floor-open {
  background-image: url('/assets/node-icons/tt_floor_open.png');  
}