<p>
  <img class='icon' [src]="'assets/item-icons/bigKey' + (dungeonItems.hasBigKey ? '' : 'Empty') + '.png'">
  <img class='icon' [src]="'assets/item-icons/map' + (dungeonItems.hasMap ? '' : 'Empty') + '.png'">
  <img class='icon' [src]="'assets/item-icons/compass' + (dungeonItems.hasCompass ? '' : 'Empty') + '.png'">
  <img class='icon' *ngIf='isChestCountShown' [src]="'assets/dungeon-tracker-icons/chest' + (getDungeonChestCountBg()) + '.png'">
  <img class='icon' src="assets/item-icons/smallKey.png"><span class='key-text'>x{{dungeonItems.smallKeys}}</span>
</p>
