<div class='container-fluid'>
  <div>
    <app-tracker-node
      class='col-xs-5ths'
      *ngFor='let itemName of itemsToTrack'
      [isItem]='true'
      [config]='config'
      [itemName]='itemName'
      [value]='items[itemName]'
      [items]='items'
    ></app-tracker-node>
  </div>
</div>
<div class='container-fluid'>
  <div>
    <app-tracker-node
      class='col-xs-2'
      [ngClass]='config.variation === "key-sanity" ? "col-xs-2" : "col-xs-5ths"'
      *ngFor='let dungeonData of getDungeons()'
      [isItem]='false'
      [items]='items'
      [config]='config'
      [dungeonData]='dungeonData'
    >
    </app-tracker-node>
  </div>
</div>
<span class='rupee-count'>{{items.stats.rupeeCount}} Rupees Collected</span>
