<div class='container-fluid'>
  <div>
    <app-tracker-node
      class='col-xs-5ths'
      *ngFor='let itemName of itemsToTrack'
      [isItem]='true'
      [itemName]='itemName'
      [value]='items[itemName]'
    ></app-tracker-node>
  </div>
</div>
<div class='container-fluid'>
  <div>
    <app-tracker-node
      class='col-xs-5ths'
      *ngFor='let dungeonData of dungeonsData.filter(filterDungeons)'
      [isItem]='false'
      [items]='items'
      [config]='config'
      [dungeonData]='dungeonData'
    >
    </app-tracker-node>
  </div>
</div>
