div {
  background-color: black;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.rupee-count {
  color: #555;
  padding-right: 6px;
  text-align: end;
  float: right;
}

:host-context(.dark-theme) .rupee-count {
    color: var(--dark-text-light-color);
}

.col-xs-2 {
    padding: 0;
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 0;
    padding-left: 0;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }    
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

@media (max-width: 768px) {
    .rupee-count {
        padding-right: 3px;
        font-size: 12px;
    }
}