<div class='node' *ngIf='isItem'
  [ngStyle]="{'background-image': getBgImg()}"
  [ngClass]="isTransparent()">
</div>
<div class='dungeon-node' 
    *ngIf='!isItem'
    >
  <div class='dungeon-node-bg'
    [ngStyle]="{'background-image': getDungeonBg()}">
    <div class='dungeon-medallion'
      [ngStyle]="{'background-image': getDungeonMedallionBg()}">
    </div>    
    <div class='dungeon-prize'
      [ngStyle]="{'background-image': getDungeonPrizeBg()}">
    </div>
  </div>
  <div class='dungeon-chest'
    [ngStyle]="{'background-image': getDungeonChestCountBg()}">
  </div>  
</div>