.node {
  width: 100%;
  padding-top: 100%;
  background-size: cover;
}

.off {
  opacity: 0.25;
}

div {
  color: white;
}

.dungeon-node {
  width: 100%;
}

.dungeon-node-bg {
  width: 100%;
  padding-top: 100%;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
}

.dungeon-chest {
  width: 100%;
  padding-top: 100%;
  background-size: cover;
}

.dungeon-prize {
  width: 50%;
  height: 50%;
}

.dungeon-medallion {
  width: 50%;
  height: 50%;
}

.dungeon-block {
  width: 50%;
  height: 50%;
}