.node, .dungeon-node-bg, .dungeon-chest, .dungeon-prize, .dungeon-medallion {
  background-size: cover;
}

.node, .dungeon-node-bg, .dungeon-chest {
  width: 100%;
  padding-top: 100%;
}

.off {
  opacity: 0.25;
}

div {
  color: white;
}

.dungeon-node {
  width: 100%;
}

.dungeon-prize, .dungeon-medallion {
  position: absolute;  
  top: 25%;
  width: 50%;
  height: 25%;
}

.dungeon-prize {
  left: 50%;
}

.dungeon-medallion {
  left: 0;
}