<div class='whole-app'
  [ngClass]='isDarkTheme ? "dark-theme" : ""'>
  <div class="container">
    <div class="container-fluid top-container">
      <h1 class="top-container-title">
        <span class="not-selectable title stylized-font" (click)="onBackMainMenu()">
          Z3R Simulator <span class="version-text">v3.1</span>
        </span> 
      </h1>
      <div class="in-between"></div>
      <div class="top-container-buttons">
        <button type="button" class="btn btn-default" 
          (click)="openModal(howToTemplate)">How To Play</button>
        <button type="button" class="btn btn-default" 
          (click)="openModal(aboutTemplate)">About</button>
        <button type="button" class="btn btn-default" 
          (click)="onToggleTheme()" tooltip='Dark/Light Theme'>
          <i [(ngClass)]="buttonClass"></i>
        </button>
      </div>    
    </div>    
    <router-outlet></router-outlet>
  </div>    
  <footer>
    <p>
      Join our <a href="https://discord.gg/nPJpFQB" target="_blank">Z3RSim Discord</a>
    </p>
    <p>      
      Developed by Kyong92 - 
        <a href="https://www.twitch.tv/kyong92" target="_blank">
          <img src="assets/twitch_glitch_icon.png">
        </a> - 
        <a href="https://twitter.com/kyong92" target="_blank">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
    </p>    
  </footer>
</div>

<ng-template #howToTemplate>
  <div [ngClass]='isDarkTheme ? "dark-theme" : ""'>
    <div class="modal-header">
      <h4 class="modal-title pull-left">How to Play</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h3>Z3R Simulator</h3>
      <p>
        Click on <span class='green-text outline-text'>Green</span> locations to open them. 
        The Item Tracker and Log are updated automatically.
      </p>
      <p>
        Click on any location with a <span class='white-text outline-text'><i class="fa fa-search" aria-hidden="true"></i></span> 
        to check what item it is before getting it.
      </p>
      <p>
        Decide when to check the map or the medallions by using the <strong>buttons below the Map</strong>. 
        Listening to the dungeon music is also supported.
        Those buttons are unlocked as you get the necessary items. They will also be used to Save and Quit and mirror between worlds.
      </p>
      <p>
        Pay close attention to where you are in the map when travelling the Dark World, 
        you will need to use the right <img src="assets/node-icons/warp.png">
        <span class='blue-text outline-text'>Portals</span> to get to the right destinations.
      </p>
      <p>
        You can search the Item Log to remember where you got something, 
        or filter out all those useless rupees.
      </p>
      <p>
        You can play this just like you play a normal rando, 
        thinking where you would be and what you would do, 
        or just screw around and warp around the world getting everything.
      </p>
      <p>
        On <strong>Advanced Overworld</strong> you won't have a easy map tracker saying what else is available. 
        You need to activate the flute in Kakariko and need to be on the correct locations to check maps.
        It'll take longer, but it's even more faithful to the original experience.
      </p>
      <h3>Minor Glitches</h3>
      <p>
        If you activate <strong>Minor Glitches and Sequence Breaking</strong>, 
        the following options are unlocked:
      </p>
      <ul class="list-inline">
        <li>Dark Rooms</li>
        <li>Fake Flippers</li>
        <li>Water Walking</li>
        <li>Super Bunny</li>
        <li>Bomb Jumps</li>
        <li>Hovering</li>
      </ul>
      <p>
        Locations colored <span class='glitched-text outline-text'>Blue</span> are locations accessible through Minor Glitches
      </p>
    </div>
  </div>
</ng-template>

<ng-template #aboutTemplate>
  <div [ngClass]='isDarkTheme ? "dark-theme" : ""'>
    <div class="modal-header">
      <h4 class="modal-title pull-left">About</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h3>v2.0 Patch Notes</h3>
      <p>
        <strong>v29</strong> is implemented! With support for both the good old Standard Mode and the new shiny Randomized Weapon at Uncle.
      </p>
      <p><strong>Advanced Overworld Maps</strong> is now another way to play. A much more faithful and longer experience, 
        where you will need to navigate the overworld just like in game. Routing becomes much more important, remembering locations being opened is relevant,
        and even where do you mirror, chest sequencing, etc. Be prepared to spend a little more time to complete these.</p>        
      <p>A few minor improvements and graphical changes have been added, for example you can now Hookshot the Bridge Chest in Misery Mire</p>
      <p>If anything is broken, please report it in our Discord server or contact me directly. Some stability and performance improvements will be coming soon.</p>
      <h3>About this Website</h3>
      <p>
        This tool is a personal project I've been working on to facilitate routing practice.
        Based on the Z3 Randomizer I developed this tool to simulate a playthrough of that very closely, while still making it fast and quick,
        so I could play a seed in 5 minutes instead of 2 hours.
      </p>
      <p>
        It's mobile friendly(ish) so you can play during your commute to work or for a quick seed before sleeping. Hopefully you guys have as much fun with Rando as I have. <i class="fa fa-heart" aria-hidden="true"></i>
      </p>
      <p>
        The design was heavily inspired by the <a href="https://www.twitch.tv/crossproduct">Crossproduct</a>'s Randomizer Tracker. The game logic is based on the VT8.29 version of the Randomizer.
      </p>
      <p>
        If you have any suggestions, questions, bug reports or just want to say hi, 
        feel free to join the <a href="https://discord.gg/nPJpFQB" target="_blank">Z3RSim Discord</a> 
        or catch me streaming at my <a href="https://www.twitch.tv/kyong92" target="_blank">Twitch page</a>.
      </p>
    </div>
  </div>
</ng-template>