.whole-app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.dark-theme {
  background-color: var(--dark-background-color);
}

.container {
  margin-top: 3%;
}

.top-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}

.top-container-title {  
  margin: 10px;
}

.title {
  margin-bottom: 0;
  cursor: pointer;
}

.dark-theme * .title {
  color: var(--dark-text-color);
}

.version-text {
  font-size: 18px;
  color: #555;
}

.dark-theme * .version-text {
  color: var(--dark-text-light-color);
}

.in-between {
  flex-grow: 2;
}

footer {
  background-color: #333333;
  color: #CCCCCC;
  text-align: center;
  width: 100%;
  padding: 1rem;
  padding-top: 2rem;
  margin-top: 10px;
  z-index: 5;
}

.fa-twitter {
  font-size: 24px;
}

.green-text {
  color: lightgreen;  
}

.glitched-text {
  color: deepskyblue;
}

.yellow-text {
  color: yellow;
}

.white-text {
  color: white;
}

.blue-text {
  color: lightblue;
}

@media (max-width: 768px) {
  .container {
    padding: 0;
    margin-top: 0;
  }
  .top-container {
    flex-direction: column;
  }
}

@media (max-width: 992px) {
  .container {
    width: 100%;
  }
}

.dark-theme .modal-header, .dark-theme .modal-body {
  background-color: var(--dark-background-color);
  color: var(--dark-text-color);
}

.dark-theme .modal-header .close {
  color: white;
  opacity: 1;
}

.dark-theme * .btn-default {
  color: var(--dark-text-color);
  background-color: var(--dark-background-color);  
}

.dark-theme * .btn-default:focus, .dark-theme * .btn-default:hover, 
.dark-theme * .btn-default:active, .dark-theme * .active {
  background-color: var(--dark-background-light-color);
}

.dark-theme * .btn-default:active:hover {
  background-color: var(--dark-background-med-color);
}

.dark-theme * .btn.active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .5);
}