.whole-app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.container {
  margin-top: 3%;
}

@media (max-width: 768px) {
  .container {
    padding: 0;
    margin-top: 0;
  }
  .pull-right {
    float: initial!important;
  }
}

@media (max-width: 992px) {
  .container {
    width: 100%;
  }
}

.title {
  margin-bottom: 0;
  cursor: pointer;
}

footer {
  background-color: #333333;
  color: #CCCCCC;
  text-align: center;
  width: 100%;
  padding: 1rem;
  padding-top: 2rem;
  margin-top: 10px;
  z-index: 5;
}

.fa-twitter {
  font-size: 24px;
}

.green-text {
  color: lightgreen;
  
}

.yellow-text {
  color: yellow;
}

.white-text {
  color: white;
}

.blue-text {
  color: lightblue;
}