<h2>GG, you saved the world, etc.</h2>

<accordion>
  <accordion-group heading='Quest Performance' isOpen='true'>
    <div *ngFor='let data of getQuestPerformanceTables()'>
        <h3>{{data[0]}}</h3>
        <table class='table table-striped'>
          <tr *ngFor='let line of data[1]'>
            <td class='col-xs-6'>
              {{line[0]}}
            </td>
            <td class='col-xs-6'>
              {{line[1]}}
            </td>
          </tr>
        </table>
    </div>
  </accordion-group>
  <accordion-group heading='Dungeon Info'>
    <div *ngFor='let data of getDungeonInfoTables()'>
        <h3>{{data[0]}}</h3>
        <table class='table table-striped'>
          <tr *ngFor='let line of data[1]'>
            <td class='col-xs-6'>
              {{line[0]}}
            </td>
            <td class='col-xs-6'>
              {{line[1]}}
            </td>
          </tr>
        </table>
    </div>
  </accordion-group>
  <accordion-group heading='Item Info'>
    <div *ngFor='let data of getItemInfoTables()'>
        <h3>{{data[0]}}</h3>
        <table class='table table-striped'>
          <tr *ngFor='let line of data[1]'>
            <td class='col-xs-6'>
              {{line[0]}}
            </td>
            <td class='col-xs-6'>
              {{line[1]}}
            </td>
          </tr>
        </table>
    </div>
  </accordion-group>
</accordion>