<h2>Quest Performance</h2>
<h3>Item Locations Checked</h3>
<div class='stat-container'>
  <div class='stat-line'>
    <span class='stat-left-column'>
      Overworld
    </span>
    <span class='stat-right-column'>
      {{items.stats.overworldCount}}/XXX
    </span>
  </div>
  <div class='stat-line'>
    <span class='stat-left-column'>
      Dungeons
    </span>
    <span class='stat-right-column'>
      {{items.stats.dungeonCount}}/XXX
    </span>
  </div>
  <div class='stat-line'>
    <span class='stat-left-column'>
      Total
    </span>
    <span class='stat-right-column'>
      {{items.stats.totalCount}}/XXX
    </span>
  </div>
</div>

<h3>Item Completion</h3>
<div class='stat-container'>
    <div class='stat-line'>
      <span class='stat-left-column'>
        Y Items
      </span>
      <span class='stat-right-column'>
        {{getYItemCount()}}/26
      </span>
    </div>
    <div class='stat-line'>
      <span class='stat-left-column'>
        A Items
      </span>
      <span class='stat-right-column'>
        {{getOtherItemCount()}}/6
      </span>
    </div>
    <div class='stat-line'>
      <span class='stat-left-column'>
        Swords
      </span>
      <span class='stat-right-column'>
        {{items.sword}}/4
      </span>
    </div>
    <div class='stat-line'>
      <span class='stat-left-column'>
        Shields
      </span>
      <span class='stat-right-column'>
        {{items.shield}}/4
      </span>
    </div>
    <div class='stat-line'>
      <span class='stat-left-column'>
        Mails
      </span>
      <span class='stat-right-column'>
        {{items.tunic}}/3
      </span>
    </div>
    <div class='stat-line'>
      <span class='stat-left-column'>
        Capacity Upgrades
      </span>
      <span class='stat-right-column'>
        {{items.stats.capacityUpgrades}}/15
      </span>
    </div>
    <div class='stat-line'>
      <span class='stat-left-column'>
        Heart Pieces
      </span>
      <span class='stat-right-column'>
        {{items.stats.heartPieces}}/24
      </span>
    </div>
    <div class='stat-line'>
      <span class='stat-left-column'>
        Heart Containers
      </span>
      <span class='stat-right-column'>
        {{items.stats.heartContainers}}/11
      </span>
    </div>
  </div>

<h3>Dungeon Completion</h3>
<div class='stat-container'>
  <div class='stat-line'>
    <span class='stat-left-column'>
      Maps
    </span>
    <span class='stat-right-column'>
      {{items.stats.maps}}/12
    </span>
  </div>
  <div class='stat-line'>
    <span class='stat-left-column'>
      Compasses
    </span>
    <span class='stat-right-column'>
      {{items.stats.compasses}}/11
    </span>
  </div>
  <div class='stat-line'>
    <span class='stat-left-column'>
      Small Keys
    </span>
    <span class='stat-right-column'>
      {{items.stats.sks}}/61
    </span>
  </div>
  <div class='stat-line'>
    <span class='stat-left-column'>
      Big Keys
    </span>
    <span class='stat-right-column'>
      {{items.stats.bks}}/12
    </span>
  </div>
  <div class='stat-line'>
    <span class='stat-left-column'>
      Big Chests
    </span>
    <span class='stat-right-column'>
      {{items.stats.bigChests}}/11
    </span>
  </div>
  <div class='stat-line'>
    <span class='stat-left-column'>
      Pendants
    </span>
    <span class='stat-right-column'>
      {{getPendantCount()}}/3
    </span>
  </div>
  <div class='stat-line'>
    <span class='stat-left-column'>
      Crystals
    </span>
    <span class='stat-right-column'>
      {{getCrystalCount()}}/7
    </span>
  </div>
  <div class='stat-line'>
    <span class='stat-left-column'>
      Bosses
    </span>
    <span class='stat-right-column'>
      {{items.stats.bosses}}/13
    </span>
  </div>
</div>