#seed-num-input {
  max-width: 300px;
}

.super-text {
  vertical-align: super;
}

.not-selectable {
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}