<div class='row'>
  <div class='col-xs-3'>
    <img src='assets/item-icons/sword.png'>
    <p>Standard Uncle Sword</p>
    <p>!classic</p>
    <p>{{voteArr[0]}} votes</p>
  </div>
  <div class='col-xs-3'>
    <img src='assets/item-icons/bow2.png'>
    <p>Standard Randomized</p>
    <p>!standard</p>
    <p>{{voteArr[1]}} votes</p>
  </div>
  <div class='col-xs-3'>
    <img src='assets/item-icons/flute.png'>
    <p>Open</p>
    <p>!open</p>
    <p>{{voteArr[2]}} votes</p>
  </div>
  <div class='col-xs-3'>
    <img src='assets/item-icons/bigKey.png'>
    <p>Keysanity</p>
    <p>!keysanity</p>
    <p>{{voteArr[3]}} votes</p>
  </div>  
</div>