#seed-num-input {
  max-width: 300px;
}

.fa-question-circle {
  vertical-align: super;
  font-size: 12px;
}

.question-mark {
  cursor: pointer;
}

.super-text {
  vertical-align: super;
}

.support-text {
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
}

:host-context(.dark-theme) .control-label, :host-context(.dark-theme) .super-text, :host-context(.dark-theme) h3, :host-context(.dark-theme) p {
  color: var(--dark-text-color);
}

:host-context(.dark-theme) .form-control {
  color: var(--dark-text-color);
  background-color: var(--dark-background-color);
}

:host-context(.dark-theme) .form-control[disabled] {
  color: var(--dark-text-color);
  background-color: var(--dark-background-light-color);
}

:host-context(.dark-theme) .btn-default {
  color: var(--dark-text-color);
  background-color: var(--dark-background-color);  
}

:host-context(.dark-theme) .btn-default:focus, :host-context(.dark-theme) .btn-default:hover, 
:host-context(.dark-theme) .btn-default:active, :host-context(.dark-theme) .active {
  background-color: var(--dark-background-light-color);
}

:host-context(.dark-theme) .btn-default:active:hover {
  background-color: var(--dark-background-med-color);
}

:host-context(.dark-theme) .btn.active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .5);
}