<h3>Changelog</h3>

<accordion>
  <accordion-group heading="v3.2 Changelog - All the Options" isOpen=true>
    <dl>
      <dt>New Interface</dt>
      <dd>Some changes made to the presentation, with a new navigation bar and a few extra pages</dd>
      <dt>New Options</dt>
      <dd>With the change to generating the seeds directly, we can now finally support a plethora of different options
        and customizations. Expert Swordless All Dungeons Keysanity or Standard Uncle Assured, whatever combination you 
        want to try is there, with even more options coming soon.
      </dd>
      <dt>Added Silver Arrows Hint</dt>
      <dd>With the addition of Swordless and Ganon effectively requiring silver arrows in that mode, when you defeat
        Agahnim 2 you'll receive the Silver Arrows Hint.
      </dd>
      <dt>New Pages</dt>
      <dd>Added Changelog, where you can see each major version update so far</dd>
      <dd>Added Support Us, where you can support the development of this website</dd>
      <dd>Added About page, with some misc information on how this website came to be</dd>
    </dl>
  </accordion-group>

  <accordion-group heading="v3.1 Changelog - Hints">
    <dl>
      <dt>Hints</dt>
      <dd>The new hint system added in v30 was finally added, simulating the original system as closely as possible</dd>
      <dt>Checking past hints</dt>
      <dd>Search the item log for "hint" to find them</dd>
      <dt>Multiple Bug Fixes</dt>
      <dd>Many many small bug fixes for inverted were applied</dd>
    </dl>
  </accordion-group>

  <accordion-group heading="v3.0 Changelog - v30 and Inverted">
    <dl>
      <dt>v30</dt>
      <dd>The new version is out, and with that a 
        <a href="https://docs.google.com/document/d/1_DOyn5Rk7SFXw-hvCljD0ZZCWEzDmnT9LNPb-ypDFVs/edit" target="_blank">number of things</a> 
        have changed. You should go to the main randomizer discord to check them out. From now on, seeds on 
        Z3RSim are using v30 logic.</dd>
      <dt>Seed Generation</dt>
      <dd>After many struggles over multiple versions, we now use seeds generated straight from the website. 
        Which means any time a new change happens it will be updated immediately. No more desyncs like 
        happened before.</dd>
      <dt>Inverted Mode</dt>
      <dd>Probably one of the most anticipated features in a while, a whole new world state to play with, 
        Inverted, Normal Difficulty, Randomized Swords has been added to the simulator. Currently it's only 
        supported on the <strong>Simple Overworld</strong> and there's no plans to implement Inverted on 
        Advanced mode.</dd>
      <dd>It's very possible that I missed something or the logic is wrong, so feel free to report with as 
        much detail as you can if you find an issue. But beware, this mode is very complicated to get your head 
        around at first and I would definitely recommend reading the 
        <a href="https://docs.google.com/document/d/1rzT6a9EWSQRdIvvWW7JmQJaNq3_Ao3Oi0IAubE2Ijso/edit" target="_blank">patch notes</a> 
        for it before tackling it.</dd>
      <dt>216/216</dt>
      <dd>Item location counts at the end stats are now equal to the normal game, so you can get that sweet 
        216/216, or do your best trying not to get it, but end up getting way too close anyways.</dd>
      <dt>God Mode</dt>
      <dd>If you're a fan of obscure glitches, or sequence breaks that aren't currently supported by the 
        simulator, there’s a new secret toggle for a God Mode. While this mode is active you can access any 
        location, open any doors or chests without the items needed to complete it.</dd>
      <dd>You can access this mode by clicking/touching the boots on the item tracker. This is not meant to 
        be how you usually use the sim, it’s just a workaround if you want to do some crazy stuff.</dd>
      <dt>New RNG</dt>
      <dd>Another thing with v30 is seed numbers are not a thing anymore and with the simulator now using the 
        official source for seeds, we do not have a way to individually track seeds. There's <strong>no way to 
        re-generate the same seed on the simulator.</strong></dd>
      <dd>For now, in favor of getting v30 out asap, you can use the simulator and play with new stuff right now. 
        I'll see if I can develop a solution for this problem in the future so you can share your seed.</dd>
      <dt>Misc</dt>
      <dd>Mushroom is no longer removed when getting the Witch item. This way if you want to tell yourself you 
        would have reset your console and done fake powder later, you can</dd>
      <dd>Fixed Desert Ledge location name on Item Log</dd>
      <dd>Added a hole to fall on Moldorm if you want to go back in the dungeon</dd>
      <dd>Fixed a lot of mirror things on Advanced Overworld</dd>
      <dd>Probably a few more minor things I forgot to note down over time</dd>
    </dl>
  </accordion-group>

  <accordion-group heading="v2.0 Changelog - v29 and Overworld Maps">
    <dl>
      <dt>v29</dt>
      <dd>v29 is implemented! With support for both the good old Standard Mode and the new shiny Randomized 
        Weapon at Uncle for that hot tournament practice.</dd>
      <dt>Advanced Overworld Maps</dt>
      <dd>A much more faithful and longer experience, where you will need to navigate the overworld just like 
        in game. Routing becomes much more important, remembering locations being opened is relevant, and even 
        where do you mirror, chest sequencing, etc. Be prepared to spend a little more time to complete these.</dd>
      <dt>Bug Fixes and Minor Improvements</dt>
      <dd>Bombos in IP requiring sword, hookshotting the Bridge Chest in Misery Mire for keysanity routing and 
        probably a couple more things that I should have noted down to write here. There will probably be some 
        performance improvements soon, we'll see how the Advanced Maps play out.</dd>
    </dl>
  </accordion-group>

  <accordion-group heading="v1.3 Changelog - Dark Mode and Rupee Count">
    <dl>
      <dt>New Update</dt>
      <dd>The website should notify if there's a new update. You may need to hard refresh the page for it to 
        work (shift+F5), but usually just refreshing should work.</dd>
      <dt>Dark Mode</dt>
      <dd>I love dark mode in websites/apps, but I'm not a great designer, so it's kinda ugly, but it works! 
        If you have suggestions to change the palette a little, feel free to do so, I'm no expert on this field.</dd>
      <dt>Rupee Count</dt>
      <dd>After so much demand I added a simple rupee counter below the item tracker. It serves no purpose
        other than counting your rupees collected and will not restrict or enforce any locations, it's just for 
        reference.</dd>
      <dt>Saving Options</dt>
      <dd>Now anytime you change modes, your options are saved for next time, no more repeated clicking every 
        time you want to play the same setting again. This also applies to Dark Mode.</dd>
      <dt>Bug Fixes</dt>
      <dd>A couple bug fixes, most notable TR laser bridge now doable with Mirror Shield (that feeling when you 
        implement that feature but forget to actually use it in the code, sorry).</dd>
    </dl>
  </accordion-group>
  <accordion-group heading="v1.2 Changelog - Item Visibility and Sequence Breaks">
    <dl>
      <dt>Version Numbers</dt>
      <dd>We have version numbers now. Now in the future if the version your browser is using is outdated, you'll 
        be notified of it so you can refresh your page.</dd>
      <dt>Blue Squares</dt>
      <dd>Blue squares now mark the locations where it's a sequence break to open. Reminder that if you get items 
        in these locations, the new places it opens will not necessarily be marked as blue!</dd>
      <dt>Item Icons on visible items</dt>
      <dd>Now it's much much easier to keep track of locations where you saw items that you couldn't get. This also 
        applies to dungeons where the item is on a torch or on the floor.</dd>
      <dt>Image Loading</dt>
      <dd>Slightly improved image loading</dd>
    </dl>
  </accordion-group>

  <accordion-group heading="v1.1.2 Changelog - Small Glitches and Fixes">
    <dl>
      <dt>Small Update</dt>
      <dd>You can now Fake Powder (Mushroom not delivered + Cane of Somaria) in Minor Glitched Mode.</dd>
      <dd>Fixed a door not showing as small key locked in Mire</dd>
      <dd>Reading a Key on Pedestal/Tablets with Book now gives the Dungeon they're from, like the original randomizer</dd>
      <dd>Better mobile UI for keysanity</dd>
      <dd>Indication that you viewed items that can be seen but not grabbed yet</dd>
      <dd>Using icons on the buttons for shorter buttons</dd>
    </dl>
  </accordion-group>
  <accordion-group heading="v1.1 Changelog - Keysanity">
    <dl>
      <dt>Keysanity</dt>
      <dd>Keysanity was just added, just like the VT version. You need maps to know if dungeons are crystal/pendants, you 
        can also ask Sahasrahla and the Bomb Shop Guy for some dungeon information.</dd>
    </dl>
  </accordion-group>

  </accordion>