/* You can add global styles to this file, and also import other style files */
html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  
  min-height: 100%;
}

a {
  cursor: pointer;
}

.stylized-font {
  font-family: 'Hammersmith One', sans-serif;
}

.not-selectable {
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.outline-text {
  text-shadow:
  -1px -1px 0 #000,  
   1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #000;
}

.white-outline-text {
  text-shadow:
  -1px -1px 0 #FFF,  
   1px -1px 0 #FFF,
   -1px 1px 0 #FFF,
    1px 1px 0 #FFF;
}