:root {
  --dark-background-color: #141414;
  --dark-background-light-color: #444;
  --dark-background-med-color: #777;
  --dark-text-color: #EEE;
  --dark-text-light-color: #BBB;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  
  min-height: 100%;
}

a {
  cursor: pointer;
}

.stylized-font {
  font-family: 'Hammersmith One', sans-serif;
}

.not-selectable {
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.outline-text {
  text-shadow:
  -1px -1px 0 #000,  
   1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #000;
}

.white-outline-text {
  text-shadow:
  -1px -1px 0 #FFF,  
   1px -1px 0 #FFF,
   -1px 1px 0 #FFF,
    1px 1px 0 #FFF;
}


.dark-theme * .panel-default>.panel-heading,
.dark-theme * .table-striped>tbody>tr:nth-of-type(odd) {
  background-color: var(--dark-background-med-color);  
  color: var(--dark-text-color);  
}

.dark-theme * .panel-body.card-block.card-body, 
.dark-theme * .table-striped>tbody>tr:nth-of-type(even)  {
  background-color: var(--dark-background-light-color);
  color: var(--dark-text-color);
}

.popover-content {
  color: black;
}

.dark-theme * .text-muted {
  color: white;
}

.panel-body {
  padding-bottom: 0;
}