<h3>Support Us</h3>
<p>You can now support the development of our website directly through two options. All money received through
  here will be used to cover hosting costs and enable more development time for new features and/or tools.
</p>

<h3>Patreon</h3>
<p>Z3RSim and future Randomizer tools now have a 
  <strong><a href="https://www.patreon.com/kyong92" target="_blank">Patreon</a></strong>.
The cool thing about Patreon is that you can get rewards by becoming a Patron of our website. 
You'll be helping me take decisions on what new features to focus on, you'll be able to follow how development
is going closely and maybe even what future tools we explore.</p>
<p>Our biggest Patreon reward is a randomizer coaching session monthly. We'll be discussing your plays in detail
  live on stream, we can talk about every routing decision and analyze everything to help you get better at the 
  game.
</p>

<h3>Donations</h3>
<p>If you'd like to just buy me a drink and not commit to anything, that's fine as well, you can do that through
  a PayPal donation on my <strong><a href="https://streamlabs.com/kyong92" target="_blank">Twitch Donation Page</a></strong>.
  All proceeds go directly to me, you do not need to select a GIF or effect.</p>

<h3>Thank you</h3>
<p>Thanks for even considering supporting the website, I just hope we can keep building cool things to explore
  this exciting world of randomizers we found.
</p>

<h3>Special Thanks to our Patrons</h3>
<p class="golden col-xs-4">Kohrek</p>
<p class="silver col-xs-4">YunaKitty</p>
<p class="silver col-xs-4">Leenuhh</p>