<div class='container' *ngIf='gameState === "playing"'>
  <app-item-tracker
    [items]='items'
    [config]='config'
    [dungeonsData]='dungeonsData'
  ></app-item-tracker>
  <div class='container'>
    <app-map 
      [items]='items'
      [config]='config'
      [(currentMap)]='currentMap'
      (addedItem)='onAddedItem($event, "get")'
      (viewItem)='onAddedItem($event, "view")'
      (onGameFinished)='onGameFinished()'
    ></app-map>
    <app-item-log
      [itemLogList]='itemLog'></app-item-log>
    <app-options></app-options>
  </div>
  
  <app-game-menu
    [items]='items'
    [currentMap]='currentMap'
    ></app-game-menu>
  
</div>
<div class='container' *ngIf='gameState === "finished"'>
  Woo
  <app-end-stats
    [items]='items'
    [config]='config'
  >
  </app-end-stats>
</div>