<div class='container' *ngIf='gameState === "loading"'>
  Loading...
</div>
<div class='container-fluid' *ngIf='gameState === "playing"'>
  <app-item-tracker
    class='col-sm-3'
    [items]='items'
    [config]='config'
    [dungeonsData]='dungeonsData'
  ></app-item-tracker>
  <app-map 
    class='col-sm-6'
    [items]='items'
    [config]='config'
    [(currentMap)]='currentMap'
    (addedItem)='onAddedItem($event, "get")'
    (viewItem)='onAddedItem($event, "view")'
    (finishedDungeon)='onDungeonFinished($event)'
    (onGameFinished)='onGameFinished()'
  ></app-map>
  <app-item-log
    class='col-sm-3'
    [itemLogList]='itemLog'
    [items]='items'></app-item-log>
  <app-options></app-options>  
  <app-game-menu
    class='col-sm-6'
    [items]='items'
    [currentMap]='currentMap'
    ></app-game-menu>
  
</div>
<div class='container' *ngIf='gameState === "finished"'>
  Woo
  <div>
    <app-end-stats
      [items]='items'
      [config]='config'
    >
    </app-end-stats>
  </div>
  <div>
    <button (click)='onContinuePlaying()'>Continue Playing</button>
    <button (click)='onBackMainMenu()'>Return to Main Menu</button>
  </div>  
</div>