.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
app-item-tracker {
  max-width: 450px;
}

@media (max-width: 768px) {
  .container {
    flex-wrap: wrap;
    justify-content: unset;
  }
  app-item-tracker {
    width: max-content;
  }
}