.game-obj {
  padding-left: 0;
  padding-right: 0;
}

.title {
  margin-top: 0;
}

@media (max-width: 768px) {
  .container-fluid {
    padding-left: 2px;
    padding-right: 2px;
  }

  h1 {
    margin-top: 2px;    
  }
}